.nav-div{
    background: rgba(0, 0, 0, 0.6);
    position: relative;
    z-index: 100;
    -webkit-box-shadow: 0 2px 15px 2px rgba(0,0,0,0.71);
    box-shadow: 0 2px 15px 2px rgba(0,0,0,0.71);
}

.container{
    max-width: 1400px;
    padding: 0 10px;
    margin: 0 auto;
    text-align: center;
}

ul{
    padding: 16px 0;
    border-color: transparent;
}

.nav-link {
    display: inline-block !important;
    font-size: 12px;
    font-weight: 800;
    padding: 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 10px 20px 10px 20px;
    color: #FFF;
    background-color: transparent;
    text-decoration: none;
}

.main-nav{
    margin: 0;
}

li{
    display: inline-block;
}