.form-block{
    border: 2px solid grey;
    width: 50%;
    margin: 50px auto;
    padding: 20px;
}
.description,
.title{
    width: 40%;
    height: 40px;
    border: 2px solid darkgray;
    padding: 5px 10px;
    text-transform: capitalize;
}
.description-from,
.title-form{
    margin: 10px 0;
}
.send-btn{
    padding: 10px 20px;
}