.contacts{
    background: #ffffff;
    margin: 50px auto;
    width: 350px;
    min-height: 280px;
    border: 3px dotted rgba(0, 0, 0, 0.6);
    border-radius: 8px 7px;
}

.contacts h4{
    margin: 13px 21px 0;
    font-size: 20px;
    font-weight: 400;
    color: #474747;
}
.contacts label {
    font-size: 13px;
    font-weight: bold;
    color: #454545;
    display: inline-block;
}

.contact {
    margin: 10px 0;
}

.contact label {
    margin: 13px 10px 0 10px;
}

.personal-account label {
    position: relative;
}
.personal-account label::before{
    content: "";
    position: absolute;
    background: bisque;
    width: 12px;
    height: 5px;
    display: inline-block;
    top: 7px;
    left: 174px;
}
.personal-account label::after{
    content: "";
    position: absolute;
    background: bisque;
    width: 12px;
    height: 5px;
    display: inline-block;
    top: 7px;
    left: 237px;
}

.contacts form input {
    background: #fff7df;
    display: inline-block;
    box-shadow: inset 1px 1px 0 0 rgba(187, 124, 87, 0.4);
    padding: 0 6px;
}

.star {
    color: red;

}

.message {
    display: block !important;
    margin: 0 auto;
    width: 90%;
    min-height: 60px;
}

.enter-password {
    height: 29px;
    width: 185px;
    float: right;
    margin: 0 10px 0 0;
}

.contact button {
    font-family: arial, sans-serif;
    width: 79px;
    height: 32px;
    background: linear-gradient(to bottom, #ccc 0%,rgba(0, 0, 0, 0.6) 100%);
    border: none;
    margin: 8px 0 14px 130px;
    border-radius: 8px 8px;
    color: #ffffff;
    font-size: 15px;
    font-weight: normal;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}

.contact a {
    font-size: 11px;
    color: #252323;
    font-weight: normal;
    display: inline-block;
    margin-left: 10px;
}

.contact-center {
    min-height: 105px;
    background: #f4f4f4;
    overflow: hidden;
}

.contact-center p {
    font-size: 12px;
    line-height: 16px;
    color: #454545;
    font-weight: normal;
    padding: 0 20px;
    margin: 10px 0;
}

.contact-center b {
    color: #1e1e1e;
    font-weight: bold;
}